{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo" style="display:inline-block;margin-right:60px;">Query Platform</span>
    {% if request.user.is_authenticated %}
        {#        <ul>#}
        {#            <li {% if section == "dashboard" %}class="selected"{% endif %}>#}
        <a href="{% url "dashboard" %}" style="display:inline-block;margin-right:10px;">My dashboard</a>
        {#            </li>#}
        {#            <li {% if section == "images" %}class="selected"{% endif %}>#}
        <a href="#" style="display:inline-block;margin-right:10px;">Images</a>
        {#            </li>#}
        {#            <li {% if section == "people" %}class="selected"{% endif %}>#}
        <a href="#" style="display:inline-block;margin-right:10px;">People</a>
        {#            </li>#}
        {#        </ul>#}

    {% endif %}
    <span style="float: right;">
       {% if request.user.is_authenticated %}
           Hello {{ request.user.username }},
           <a href="{% url "logout" %}">Logout</a>
       {% else %}
           <a href="{% url "login" %}">Login</a>
       {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>